/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('../polices/ballpark.eot');
    src: url('../polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../polices/ballpark.woff') format('woff'),
         url('../polices/ballpark.ttf') format('truetype'),
         url('../polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../polices/dayrom.woff') format('woff'),
         url('../polices/dayrom.ttf') format('truetype'),
         url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    background: url('../images/cloud.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    background: url('../images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.7vw;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.4vw;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.1vw;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Bannière */

.bouton_rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('../images/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2vw;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}


.ico_contract
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 1vw;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 1.1vw;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_palo
{
    text-align: center;
}

#photo_palo img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

/* Footer */

footer
{
    display: flex;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8vw;
}

footer h1
{
    font-size: 1.1vw;
}


#adresse_ip
{
    width: 28%;
}
#toggle{height:auto; margin:1em;text-align:justify}
#toggle p{text-align:justify;padding:1}
#toggle1{height:auto; margin:1em;text-align:justify}
#toggle1 p{text-align:justify;padding:0}
#toggle2{height:auto; margin:1em;text-align:justify}
#toggle2 p{text-align:justify;padding:0}
#toggle3{height:auto; margin:1em;text-align:justify}
#toggle3 p{text-align:justify;padding:0}
#toggle4{height:auto; margin:1em;text-align:justify}
#toggle4 p{text-align:justify;padding:0}
#toggle5{height:auto; margin:1em;text-align:justify}
#toggle5 p{text-align:justify;padding:0}
#toggle6{height:auto; margin:1em;text-align:justify}
#toggle6 p{text-align:justify;padding:0}
#toggle7{height:auto; margin:1em;text-align:justify}
#toggle7 p{text-align:justify;padding:1}
#toggle8{height:auto; margin:1em;text-align:justify}
#toggle8 p{text-align:justify;padding:0}
#toggle9{height:auto; margin:1em;text-align:justify}
#toggle9 p{text-align:justify;padding:0}
#toggle10{height:auto; margin:1em;text-align:justify}
#toggle10 p{text-align:justify;padding:0}
#toggle11{height:auto; margin:1em;text-align:justify}
#toggle11 p{text-align:justify;padding:0}
#toggle12{height:auto; margin:1em;text-align:justify}
#toggle12 p{text-align:justify;padding:0}
#toggle13{height:auto; margin:1em;text-align:justify}
#toggle13 p{text-align:justify;padding:0}
#toggle14{height:auto; margin:1em;text-align:justify}
#toggle14 p{text-align:justify;padding:0}
